<p class="item-context item" data-item-id="{{_id}}">   
    
    <a class="spend" data-item-id="{{_id}}">
    {{name}}
    {{#if data.rating}} 
    {{data.pool}} / {{data.rating}}
    {{/if}}
    {{#if data.canBeInvestigative}}
    <i class="fas fa-search" title="{{localize "qsgs.char-sheet.addInv"}}"></i>
    {{/if}}     
    </a>

</p>
          