{{!-- <button class="tablink" onclick="openPage('Abilities', this)">Abilities</button>
<button class="tablink" onclick="openPage('Other', this)">Other</button> --}}
<nav class="sheet-navigation tabs" data-group="primary">
    <a class="item" data-tab="abilities">{{localize "qsgs.char-sheet.abilities"}}</a>
    <a class="item" data-tab="other">{{localize "qsgs.char-sheet.other"}}</a>
</nav>

<section class="content">
    <div class="tab" data-group="primary" data-tab="abilities">
        <section class="ability-categories">
            <div style="padding: 30px;">
                <h1 class="category-refresh" data-category="investigative">
                    {{localize "qsgs.char-sheet.invTitle"}}
                </h1>
                <div class="ability-list">
                    <div class="ability-col" style="padding: 10px;">
                        <h2 class="category-refresh" data-category="academic">
                            {{localize "qsgs.investigative-type.academic"}}
                            <i class="fas fa-book-open"></i>
                        </h2>
                        {{#each academic}}
                                {{> "systems/qsgs/templates/sheets/actors/partials/pc-ability-text.hbs"}}
                        {{/each}}
                    </div>
                    <div class="ability-col" style="padding: 10px;">
                        <h2 class="category-refresh" data-category="technical">
                            {{localize "qsgs.investigative-type.technical"}}
                            <i class="fas fa-wrench"></i>
                        </h2>
                        {{#each technical}}
                            {{> "systems/qsgs/templates/sheets/actors/partials/pc-ability-text.hbs"}}
                        {{/each}}
                    </div>
                    <div class="ability-col" style="padding: 10px;">
                        <h2 class="category-refresh" data-category="interpersonal">
                            {{localize "qsgs.investigative-type.interpersonal"}}
                            <i class="fas fa-comments"></i>
                        </h2>
                        {{#each interpersonal}}
                            {{> "systems/qsgs/templates/sheets/actors/partials/pc-ability-text.hbs"}}
                        {{/each}}
                    </div>

                </div>
            </div>
            <div style="padding: 30px;">
                <div>
                    <h1 class="category-refresh" data-category="general">
                    {{localize "qsgs.char-sheet.genTitle"}}
                    {{ generalPoints }}
                    </h1>
                </div>
                <div class="ability-list">
                    <div style="padding: 10px;">
                        <h2 class="category-refresh" data-category="presence">
                            {{localize "qsgs.general-type.presence"}}
                            <i class="fas fa-brain"></i>
                        </h2>                        
                        {{#each presence}}
                            {{> "systems/qsgs/templates/sheets/actors/partials/pc-ability-text.hbs"}} 
                        {{/each}}
                    </div>
                    <div class="ability-col" style="padding: 10px;">
                        <h2 class="category-refresh" data-category="focus"> 
                            {{localize "qsgs.general-type.focus"}}
                            <i class="fas fa-assistive-listening-systems"></i>
                        </h2>
                        {{#each focus}}
                            {{> "systems/qsgs/templates/sheets/actors/partials/pc-ability-text.hbs"}}
                        {{/each}}
                    </div>
                    <div class="ability-col" style="padding: 10px;">
                        <h2 class="category-refresh" data-category="physical">
                            {{localize "qsgs.general-type.physical"}}
                            <i class="fas fa-heartbeat"></i>
                        </h2>
                        {{#each physical}}
                            {{> "systems/qsgs/templates/sheets/actors/partials/pc-ability-text.hbs"}}
                        {{/each}}
                    </div>
                </div>
                <div>
                    Hide Zero Rated Abilities
                    <input name="data.hideZeroRated" type="checkbox" {{ checked data.hideZeroRated }}/>
                </div>
            </div>
        </section>
    </div>

    <div class="tab" data-group="primary" data-tab="other">
        <div class="sheet-content" style="height: 150px">
            {{#ifEquals gameCreated "Trail of Cthulhu"}}
            <h1>{{localize "qsgs.char-sheet.occupationalBenefits"}}</h1>
            {{else ifEquals gameCreated "YKRPG - Paris"}}
            <h1>Relationships</h1>
            {{else ifEquals gameCreated "YKRPG - The Wars"}}
            <h1>Civilian Occupation</h1>
            {{else ifEquals gameCreated "YKRPG - Aftermath"}}
            <h1>Parallel</h1>
            {{else ifEquals gameCreated "YKRPG - This Is Normal Now"}}
            <h1>Familiar Face</h1>
            {{/ifEquals}}
            {{editor content=data.occupationalBenefits target="data.occupationalBenefits" button=true owner=owner editable=editable}}
        </div>
        <div class="sheet-content" style="height: 150px">
            <h1>{{localize "qsgs.char-sheet.background"}}</h1>
            {{editor content=data.background target="data.background" button=true owner=owner editable=editable}}
        </div>
        <div class="sheet-content" style="height: 150px">
            <h1>{{localize "qsgs.char-sheet.equipment"}}</h1>
            {{editor content=data.equipment target="data.equipment" button=true owner=owner editable=editable}}
        </div>
    </div>
</section>