<section class="bio" >
    <div style="padding-right: 30px; display: flex; align-content: stretch; flex-direction: column;">
        <div><img style="width:auto !important; height: 150px !important; margin: 0 auto 1em auto;" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"></div>
    </div>
    <div style="flex-direction: column;">
        <div>
            <b>{{localize "qsgs.char-sheet.name"}}</b>
            <input name="name" type="text" value="{{actor.name}}"/>
        </div>
        <div>
            <b>{{localize "qsgs.char-sheet.drive"}}</b>
            <input name="data.drive" type="text" value="{{data.drive}}"></input>
        </div>
        <div>
            <b>{{localize "qsgs.char-sheet.occupation"}}</b>
            <input name="data.occupation" type="text" value="{{data.occupation}}"></input>
        </div>
        <div> <b>{{localize "qsgs.char-sheet.pushes"}}</b> <input name="data.push1" type="checkbox" {{ checked data.push1 }}/> <input name="data.push2" type="checkbox" {{ checked data.push2 }}/></div>                             
    </div>
    <div style="padding-left: 30px; max-width: 500px">
        <b>{{localize "qsgs.char-sheet.occupationalBenefits"}}</b>
        {{{data.occupationalBenefits}}}
    </div>

</section>