<section class="bio">
    <div style="flex-direction: column;">
        <div>
            {{localize "qsgs.char-sheet.name"}}
            <input name="actor.name" type="text" value="{{actor.name}}"></input>
        </div>
        <div>
            {{localize "qsgs.char-sheet.drive"}}
            <input name="data.drive" type="text" value="{{data.drive}}"></input>
        </div>
        <div>
            {{localize "qsgs.char-sheet.occupation"}}
            <input name="data.occupation" type="text" value="{{data.occupation}}"></input>
        </div>
        <div>
            {{localize "qsgs.char-sheet.occupationalBenefits"}}
            <textarea name="data.occupationalBenefits" type="text" value="{{data.occupationalBenefits}}"></textarea>
        </div>                         
    </div>
    <div style="padding-left: 30px; display: flex; align-content: stretch; flex-direction: column;">
        <div><img style="width:auto !important; height: 150px !important; margin: 0 auto 1em auto;" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"></div>
        <div>{{localize "qsgs.char-sheet.pushes"}} <input type="checkbox"> <input type="checkbox"></div>
    </div>
</section>