<form class="{{cssClass}} flexcol" autocomplete="off">
    <section class="page-structure">
        <div style="margin-right: 10px;">
            <h1>{{localize "qsgs.char-sheet.injuries"}} </h1>
            {{#each injuries}}
                <div class="card item" data-item-id="{{_id}}"> 
                    <a class="item-roll">
                    {{> "systems/qsgs/templates/sheets/actors/partials/card-sheet.hbs"}}
                    </a>
                </div>
            {{/each}}
        </div>
        <div>
            {{!-- PC Header Information --}}
            {{> "systems/qsgs/templates/sheets/actors/partials/pc-info.hbs"}}
            
            {{!-- PC Ability Page --}}
            {{> "systems/qsgs/templates/sheets/actors/partials/pc-ability-page.hbs"}}

            {{!-- Pillars of Sanity --}}
            <section>
                <h1>{{localize "qsgs.char-sheet.pillars"}}</h1>
                <textarea></textarea>
            </section>
        </div>
        <div style="margin-left: 10px;">
            <h1>{{localize "qsgs.char-sheet.shocks"}} </h1>
            {{#each shocks}}
                <div class="card item" data-item-id="{{_id}}"> 
                    <a class="item-roll">
                    {{> "systems/qsgs/templates/sheets/actors/partials/card-sheet.hbs"}}
                    </a>
                </div>
            {{/each}}
        </div>
    </section>
</form>